html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #000000;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

/** header **/
.header {
    height: 70px;
    background: url("../img/header_bg.png") repeat-x center;
}
.preview{
    height: 150px;
    width: 150px;
   display: none;
    padding: 10px;
}
.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 5px;
}

/*** search ***/
.search-area {
    margin-top: 6%;
    float: right;
}

.search-area input[type=text] {
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    padding-left: 2px;
    width: 70%;
}

.search-area button {
    background-color: #000000;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-style: none;
    color: #ffffff;
    margin-left: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*** cart ***/

.cart {
    height: 32px;
    background-color: #ffffff;
    margin-top: 1.3%;
    margin-left: -1%;
}

/* tablets */
@media only screen and (max-width: 768px) {
    .cart {
        height: 100px;
        margin: 0 auto;
        margin-top: 10px;
        float: right;
    }

    .search-area {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 976px) {
    .cart {
        height: 100px;
        margin: 0 auto;
        margin-top: 10px;
        float: left;
    }
}
.glyphicon{
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.glyphicon-shopping-cart {
    font-size: 23px;
    padding-top: 2px;
}
.glyphicon-shopping-cart-sm {
    font-size: inherit;
    padding-right: 2px;
}

.cart-icon {
    padding-left: 2px !important;
    padding-right: 0;
    padding-top: 1px;
}


.price {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1px;
}

.items {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1px;
}

.checkout {
    font-size: 12px;
    background-color: #123967;
    color: #ffffff;
    height: 28px;
    width: auto;
    margin-left: -30px;
    margin-top: 2px;
    font-weight: bold;
}

.checkout:hover {
    color: #D0690D;
}

/** menu **/
/****** menu ************/
.menu-wrapper {
}

.menu-column {
    margin: 0 auto;
    padding-right: 0;
    background: url("../img/header_bg.png") repeat-x center;
    border-bottom: 3px solid #D0690D;
}

.custom-nav {
    background: url("../img/header_bg.png") repeat-x center;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    padding-left: 0;
    min-height: 30px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
}

.navbar-collapse.collapse.in {
    background-color: #123967;
    z-index: 2000;
}

.dropdown-menu {
    border-radius: 0;
    color: #ffffff;
    z-index: 2000;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: #D0690D;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #D0690D;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #D0690D !important;
    color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

ul.dropdown-menu {
    background-color: #123967;
    border-radius: 0;
    min-width: 150px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

.dropdown-menu > li > a {
    color: #ffffff;
    font-weight: bold;
}

.dropdown-menu > li > a:hover {
    background-color: #D0690D;
    color: #000000;
}

.dropdown-menu .divider {
    margin: 0;
    background-color: #ffffff;
}

.highlighted, .open {
    background-color: #D0690D;
}

.has-submenu .highlighted {
    background-color: #ffffff;
}
/**  z-index fixes */
.navbar .nav > li {
    z-index: 1001;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #D0690D;
}

/*** end menu styles ***/
/*** image slider ***/
/* image slider */
#carousel{
    width: 100%;
    height:100%;

}
#inner-carousel{
    width: 100%;
    height: 100%;
}
#inner-carousel img{
    width: 100%;
    height: 300px;
}
.carousel{
    height: 300px;
}
.carousel-caption{
}


.carousel-caption .larger-caption{
    font-size: 20px;
    clear: left;
}
.carousel-control{
    height: 50px;
    position: absolute;
    top: 100px;
    color: #ffffff;
}
/* overriding carousel defaults to allow sliding */
.carousel .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next {
    left:0;
    opacity:1;
    z-index:1;
}
.slider{
    height: 300px;
    margin-bottom: 1%;
}
/* end of  carousel */

/*** content styles ***/
.left {
    background-color: #ECECEC;
    border-radius: 10px;
    margin-top: 1%;
}

.right {
    background-color: #ECECEC ;
    border-radius: 10px;
    margin-top: 1%;
    padding-bottom: 2%;
    padding-left: -2%;
    margin-left: 1%;
}
.product-section{
    margin-top: 1%;
    margin-bottom: 1%;
}
.product {
    background-color: #ffffff;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    /*mock height */
    border-radius: 10px;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .product:nth-child(3n+1) {
        margin-left: 8%;
    }
    .right{
        max-width: 24%;
    }
    .clear-padding {
        padding-left: 0 !important;
        padding-right: 0;
    }
    .login-area{
        height: 555px;
    }
    .login{
        position: relative;
        top: 150px;
    }
    .login-input{
        height: 50px;
        font-size: 18px;
    }
    .btn-login{
        height:50px;
        font-size: 20px;
    }
    .login-label{
        font-size: 17px !important;
        padding-bottom: 10px;
    }
}
.product-name{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.item-price{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-details {
    color: #ffffff;
    background-color: #D0690D;
    border-color: #D0690D;
}
.btn-find{
    background-color: #123967;
    color: #ffffff;
    border-color: #123967;
}
.btn-find:hover{
    color: #D0690D;
}
.product-img{
    padding-bottom: 10px;
    border-bottom: 1px dashed grey;
    margin-left: 2%;
    width: 140px;
    height: 115px;
}
.product-desc{
    padding-left: 10%;
}
.cat-description{
    font-size: 18px;
    color: #000000;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .product-desc{

    }
}
.message {
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
}
.find-section{
}
a{
    text-decoration: none;
}
h4{
    padding:4%;
    background-color :#123967;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
}

.find-section select{
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.find-copier {
    padding-bottom: 4%;
    border-bottom: 3px dotted #D0690D;
}
.label{
    color: #000000;
    font-size: 12px;
}
.lipa{
    padding: 1%;
}
.lipa p{
    font-weight: bold;
}
/** cart **/
.qty-input{
    width: 50px !important;
    text-align: center;
}
.total{
    font-size: 20px;
    color: #D0690D;
    font-weight: bold;
}
.light {
    font-weight: normal !important;
    color: #000000;
}
.btn-order{
    width: 150px;
    background-color: #D0690D;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    margin-top: -3%;
}
.cart-container{
    padding-bottom: 2%;
}
.content-holder{
}


/** footer **/
#footer{
    bottom: 0;
    position: relative;
}
.footer {
    background-color: #0E335E;
    margin-top: 10px;
    color: #ffffff;

}
td{
    vertical-align: middle !important;
}
.title{
    color:black;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.business-name{
    font-weight: bold;
}
.copyright-section{
    font-style: italic;
}
.social-media-section,.copyright-section{
    margin-top: 0.6%;
}
.social-media{
    height: 40px;
    width: 40px;
    margin: 2px;
}
.facebook{
    background: url("../img/64-facebook.png") no-repeat center;
}
.twitter{
    background: url("../img/64-twitter.png") no-repeat center;
}
.google-plus{
    background: url("../img/64-googleplus.png") no-repeat center;
}
.skype{
    background: url("../img/64-skype.png") no-repeat center;
}

/* order section */
.order-form{
    padding-top: 1%;
    padding-bottom: 1%;
}

/* contact form */
.contact-form{
    padding: 3%;
}

.btn-submit{
    margin-top: 20px;
}
.about-head{
    text-align: center;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    text-transform: uppercase;
}
.much-text p{
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.mini-head{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

}
.italic{
    font-style: italic;
}
span.underline{
    height: 5px !important;
    border-bottom: solid #000000 1px;
}
.colored{
    color: #D0690D;
}
.pimped{
    color: #080808;
}
.right-pull{
    margin-left:20% ;
}

.update-success{
    position: absolute;
    top: 2%;
    z-index: 10000;

}

.pdf-thumb-box {
    display: inline-block !important;
    position: relative !important;
    overflow: hidden;
}
.pdf-thumb-box-overlay {
    display: none;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
    display: inline;
    text-align: center;
    position: absolute;
    transition: background 0.2s ease, padding 0.8s linear;
    background-color: rgba(255, 0, 0, 0.58);
    color: #fff;
    width: 100%;
    height: 100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay span {

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.admin-caption{
    font-size: 14px;
    font-weight: bold;
}

.slide-image{
    height: 300px;
}
.carousel-caption.right,.carousel-caption.left{
    background: none !important;
}

.phone-number{
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    top:25px;
}

.view-cons{
    text-decoration: none;
    font-weight: bold;
    color:#D0690D;
    line-height: 1.5;
}